<ion-menu [content]="content">

  <ion-header [ngStyle]="{'height':'25%','background':'#000'}">

  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="" (click)="false">
        <!--<ion-icon name="{{p.icon}}" item-left></ion-icon>-->
        <!--{{p.title}}-->
      </button>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-note item-left>
        Copyright © 2017 Peter Mao & Jaho
      </ion-note>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="toggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>MaomaoChat</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content #content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)" (press)="presentActionSheet(item)">
        <ion-avatar item-left>
          <img [src]="item.profilePic"/>
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-right>{{item.time}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="primary" (click)="makeItTop(item)">
          &nbsp;&nbsp;置顶&nbsp;&nbsp;
        </button>
        <button ion-button color="danger" (click)="deleteItem(item)">
          &nbsp;&nbsp;删除&nbsp;&nbsp;
        </button>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
