<!--
  Generated template for the Chat page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>

    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Chat with {{name?name:phone}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item no-lines *ngFor="let msg of messages">

      <div class="message-box send" *ngIf="msg.receiver.id==phone" item-right>
        {{msg.message.content}}
      </div>
      <ion-avatar *ngIf="msg.receiver.id==phone" item-right>
        <img src="assets/img/speakers/bear.jpg"/>
      </ion-avatar>


      <ion-avatar *ngIf="msg.receiver.id!=phone" item-left>
        <img src="assets/img/speakers/bear.jpg"/>
      </ion-avatar>
      <div class="message-box receive" *ngIf="msg.receiver.id!=phone" item-left>
        {{msg.message.content}}
      </div>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-row>
      <ion-col col-10>
        <ion-input placeholder="说点什么" type="text" (keydown.enter)="text.length?sendMessage():return"
                   [(ngModel)]="text"></ion-input>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only item-right clear (click)="sendMessage()" [disabled]="!text.length">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
