<ion-header>

  <ion-navbar>
    <ion-title>注册</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #signUpForm="ngForm" (submit)="false">
    <ion-list>

      <ion-item>
        <ion-label fixed>昵称</ion-label>
        <ion-input type="text" required [(ngModel)]="account.name" name="name"></ion-input>
      </ion-item>

      <ion-item>

        <ion-label fixed>手机号</ion-label>
        <ion-input type="number" [disabled]="phoneNumberAuthed" required maxlength="11" minlength="11"
                   [(ngModel)]="account.phone"
                   name="phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>密码</ion-label>
        <ion-input type="password" required minlength="4" maxlength="24" [(ngModel)]="account.password"
                   name="password"></ion-input>
      </ion-item>


      <button ion-button color="primary" *ngIf="phoneNumberAuthed" (click)="doSignUp()" block>注册</button>
      <button ion-button color="primary" [disabled]="!signUpForm.form.valid" *ngIf="!phoneNumberAuthed"
              (click)="auth()" block>验证手机号
      </button>

    </ion-list>
  </form>
</ion-content>
